<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 利用thymeleaf的fragment机制加载head -->
<!-- 其中head(title)为函数, title为当前页面的的标题 -->
<!-- th:insert为插入 th:replace为替换 -->
<div th:replace="~{/fragment/common-fragment :: head(首页)}"></div>
<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <!-- 推荐 -->
        <div class="movie-best" style="margin-top: 30px">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">
                今日最佳影片
            </div>

            <div class="col-sm-12 change--col">
                <!-- 一项 -->
                <div th:each="m:${movieScore.list}">
                <div class="movie-beta__item ">
                    <!-- 海报 -->
                    <a th:href="'/movies/'+${m.getId()}"><img alt="" th:src="${m.poster}" width="190" height="281"/></a>
                    <!-- 评分 -->
                    <span class="best-rate" th:text="${#numbers.formatDecimal(m.avg,1,1)}"></span>

                    <ul class="movie-beta__info">
                        <li><span class="best-voted">今天 <span th:text="${m.num}"></span> 人为此影片评分</span></li>
                        <li>
                            <p class="movie__time"><span th:text="${m.duration}"></span> 分钟</p>
                            <p th:each="category:${m.categories}"><!--Adventure | Drama | Fantasy-->
                                <span th:text="${category.name}"></span>&nbsp;&nbsp;
                            </p>
                        </li>
                        <li class="last-block">
                            <a th:href="'/movies/'+${m.getId()}" class="slide__link">更多</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!-- 间隔 -->
        <div class="clearfix"></div>
        <h2 id="target" class="page-heading heading--outcontainer">正在热映</h2>
        <!-- 热映 -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div th:each="movie,index:${movieScoreList.list}" th:switch="${index.index}%4">
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left" th:case="0">
                        <div class="movie__images">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie-beta__link">
                                <img alt="" th:src="${movie.poster}" width="212" height="313"/>
                            </a>
                        </div>

                        <div class="movie__info">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie__title"
                            ><span th:text="${movie.name}"></span>
                            </a>

                            <p class="movie__time"><span th:text="${movie.duration}"></span> 分钟</p>

                            <p class="movie__option">
                                <span th:each="categories:${movie.categories}">
                                    <a href="#" th:text="${categories.name}"></a>&nbsp;&nbsp;
                                </span>
                            </p>

                            <p class="movie__option">
                                <strong>导演: </strong><a href="#" th:text="${movie.getDirectors()}"></a>
                            </p>

                            <p class="movie__option">
                                <strong>演员: </strong>
                                <a href="#" th:text="${movie.getActors()}"></a>
                            </p>

                            <div class="movie__rate">
                                <div class="score" th:id="|score${movie.id}|"></div>
                                <span class="movie__rating" th:text="${#numbers.formatDecimal(movie.avg,1,1)}"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->

                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left" th:case="1">
                        <div class="movie__images">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie-beta__link">
                                <img alt="" th:src="${movie.poster}" width="212" height="313"/>
                            </a>
                        </div>

                        <div class="movie__info">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie__title"
                            ><span th:text="${movie.name}"></span>
                            </a>

                            <p class="movie__time"><span th:text="${movie.duration}"></span> 分钟</p>

                            <p class="movie__option">
                                <span th:each="categories:${movie.categories}">
                                    <a href="#" th:text="${categories.name}"></a>&nbsp;&nbsp;
                                </span>
                            </p>

                            <p class="movie__option">
                                <strong>导演: </strong><a href="#" th:text="${movie.getDirectors()}"></a>
                            </p>

                            <p class="movie__option">
                                <strong>演员: </strong>
                                <a href="#" th:text="${movie.getActors()}"></a>
                            </p>

                            <div class="movie__rate">
                                <div class="score" th:id="|score${movie.id}|"></div>
                                <span class="movie__rating" th:text="${#numbers.formatDecimal(movie.avg,1,1)}"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->

                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--right" th:case="2">
                        <div class="movie__images">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie-beta__link">
                                <img alt="" th:src="${movie.poster}" width="212" height="313"/>
                            </a>
                        </div>

                        <div class="movie__info">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie__title"
                            ><span th:text="${movie.name}"></span>
                            </a>

                            <p class="movie__time"><span th:text="${movie.duration}"></span> 分钟</p>

                            <p class="movie__option">
                                <span th:each="categories:${movie.categories}">
                                    <a href="#" th:text="${categories.name}"></a>&nbsp;&nbsp;
                                </span>
                            </p>

                            <p class="movie__option">
                                <strong>导演: </strong><a href="#" th:text="${movie.getDirectors()}"></a>
                            </p>

                            <p class="movie__option">
                                <strong>演员: </strong>
                                <a href="#" th:text="${movie.getActors()}"></a>
                            </p>

                            <div class="movie__rate">
                                <div class="score" th:id="|score${movie.id}|"></div>
                                <span class="movie__rating" th:text="${#numbers.formatDecimal(movie.avg,1,1)}"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->

                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right" th:case="3">
                        <div class="movie__images">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie-beta__link">
                                <img alt="" th:src="${movie.poster}" width="212" height="313"/>
                            </a>
                        </div>

                        <div class="movie__info">
                            <a th:href="'/movies/'+${movie.getId()}" class="movie__title"
                            ><span th:text="${movie.name}"></span>
                            </a>

                            <p class="movie__time"><span th:text="${movie.duration}"></span> 分钟</p>

                            <p class="movie__option">
                                <span th:each="categories:${movie.categories}">
                                    <a href="#" th:text="${categories.name}"></a>&nbsp;&nbsp;
                                </span>
                            </p>

                            <p class="movie__option">
                                <strong>导演: </strong><a href="#" th:text="${movie.getDirectors()}"></a>
                            </p>

                            <p class="movie__option">
                                <strong>演员: </strong>
                                <a href="#" th:text="${movie.getActors()}"></a>
                            </p>

                            <div class="movie__rate">
                                <div class="score" th:id="|score${movie.id}|"></div>
                                <span class="movie__rating" th:text="${#numbers.formatDecimal(movie.avg,1,1)}"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                </div>
                </div>

                <aside class="col-sm-4 col-md-3">
                    <div class="sitebar first-banner--left">
                        <div th:each="moviePoster:${movieScorePoster.list}">
                        <div class="banner-wrap first-banner--left">
                            <a th:href="'/movies/'+${moviePoster.id}"><img alt="banner" th:src="${moviePoster.poster}"/></a>
                        </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        <!-- 资讯 -->
        <div class="col-sm-12">
            <h2 class="page-heading">最新资讯</h2>

            <div th:each="news,index:${newsList.list}" th:switch="${index.index}%3">
            <!-- start -->
            <div class="col-sm-4 similar-wrap col--remove" th:case="0">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="/images/1.jpg" width="140" height="160"/>
                    </div>
                    <p class="post__date">
                        <span th:text="${#dates.format(news.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </p>
                    <a th:href="'/news/'+${news.id}" class="post__title">
                        <span th:text="${news.title}"></span>
                    </a>
                    <a href="/news" class="btn read-more post--btn">了解更多</a>
                </div>
            </div>
                <div class="col-sm-4 similar-wrap col--remove" th:case="1">
                    <div class="post post--preview post--preview--wide">
                        <div class="post__image">
                            <img alt="" src="/images/2.jpg" width="140" height="160"/>
                        </div>
                        <p class="post__date">
                            <span th:text="${#dates.format(news.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </p>
                        <a th:href="'/news/'+${news.id}" class="post__title">
                            <span th:text="${news.title}"></span>
                        </a>
                        <a href="/news" class="btn read-more post--btn">了解更多</a>
                    </div>
                </div>
                <div class="col-sm-4 similar-wrap col--remove" th:case="2">
                    <div class="post post--preview post--preview--wide">
                        <div class="post__image">
                            <img alt="" src="/images/3.jpg" width="140" height="160"/>
                        </div>
                        <p class="post__date">
                            <span th:text="${#dates.format(news.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </p>
                        <a th:href="'/news/'+${news.id}" class="post__title">
                            <span th:text="${news.title}"></span>
                        </a>
                        <a href="/news" class="btn read-more post--btn">了解更多</a>
                    </div>
                </div>
            <!-- end -->

            <!--<div class="col-sm-4 similar-wrap col&#45;&#45;remove">
                <div class="post post&#45;&#45;preview post&#45;&#45;preview&#45;&#45;wide">
                    <div class="post__image">
                        <img alt="" src="http://placehold.it/270x330"/>
                        <div class="social social&#45;&#45;position social&#45;&#45;hide">
                            <span class="social__name">Share:</span>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;first fa fa-facebook"
                            ></a>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;second fa fa-twitter"
                            ></a>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;third fa fa-vk"
                            ></a>
                        </div>
                    </div>
                    <p class="post__date">
                        <span th:text="${#dates.format(news.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </p>
                    <a href="single-page-left.html" class="post__title"
                    >
                        <span th:text="${news.title}"></span>
                    </a
                    >
                    <a href="single-page-left.html" class="btn read-more post&#45;&#45;btn"
                    >read more</a
                    >
                </div>
            </div>

            <div class="col-sm-4 similar-wrap col&#45;&#45;remove">
                <div class="post post&#45;&#45;preview post&#45;&#45;preview&#45;&#45;wide">
                    <div class="post__image">
                        <img alt="" src="http://placehold.it/270x330"/>
                        <div class="social social&#45;&#45;position social&#45;&#45;hide">
                            <span class="social__name">Share:</span>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;first fa fa-facebook"
                            ></a>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;second fa fa-twitter"
                            ></a>
                            <a
                                    href="#"
                                    class="social__variant social&#45;&#45;third fa fa-vk"
                            ></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title"
                    >Hollywood Film Awards 2013</a
                    >
                    <a href="single-page-left.html" class="btn read-more post&#45;&#45;btn"
                    >read more</a
                    >
                </div>
            </div>-->
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <!-- footer -->
    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript -->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Home();
        init_Rates();
    });
</script>
<script type="text/javascript" th:each="m:${movieScoreList.list}">
    $(document).ready(function () {
        "use strict";
        $('#score[[${m.id}]]').raty({
            width: 130,
            score: [[${m.avg}]],
            path: '/images/rate/',
            starOff: 'star-off.svg',
            starOn: 'star-on.svg',
            readOnly: true
        })
    })
</script>
</body>
</html>
