<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(电影票)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="order-container" th:each="ticket:${ticketFormList}">
            <div class="ticket">
                <div class="ticket-position">
                    <div class="ticket__inner">
                        <div class="ticket-secondary">
                            <span class="ticket__item">Ticket number <strong
                                    class="ticket__number" th:text="${ticket.orderId}"></strong></span>
                            <span class="ticket__item ticket__date" th:text="${#dates.format(ticket.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span class="ticket__item ticket__time" th:text="${ticket.showTime}"></span>
                            <span class="ticket__item">Cinema: <span class="ticket__cinema">A-Movie</span></span>
                            <span class="ticket__item">Hall: <span class="ticket__hall">Visconti</span></span>
                            <span class="ticket__item ticket__price">price:<strong
                                    class="ticket__cost">$ <span th:text="${ticket.totalPrice}"></span></strong></span>
                        </div>

                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">Film<br><strong
                                    class="ticket__movie" th:text="${ticket.movieName}"></strong></span>
                            <span class="ticket__item ticket__item--primery">Sits: <span class="ticket__place" th:text="${ticket.bookedSeat}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>
</body>
</html>
